.sidebarContainer {
    margin-left: 55px;
    position: fixed;
    height: 900px;
    width: 125px;
    background-color: #96c8a5;
    box-shadow: 0px 0px 2px 2px #a7ccb1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 60px;
}

.sidebarElement{
    margin-top: 200px;
    padding: 0;
}

.Home, .AddStory, .Profile, .Rank, .Shop{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 3px outset #cbdad3;
    border-bottom: 3px outset #afbbb5;
    font-size: 25px;
}

.Logout{
    margin-top: 160px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 3px outset #cbdad3;
    border-bottom: 3px outset #afbbb5;
    font-size: 25px;
}

.urlLink{
    color: #334d45;
    text-decoration: none;
}

.sidebarElement li:hover{
    cursor: pointer;
    border-top: 3px inset #cbdad3;
    border-bottom: 3px inset #ddece5;
    background-color: #056670;
    color: #8dd4bf;
}

.sidebarElement #active{
    background-color: #056670;
    color: #8dd4bf;
}