* {
    font-family: Verdana, sans-serif;
}

.pageTitle {
    text-align: center;
}

.mainDesc {
    text-align: center;
    font-size: 20px;
}

#greatLakes1 {
    position: relative;
    left: 200px;
    height: 480px;
    width: 800px;
}


#displayInfoContainer {
    position: absolute;
    left: 850px;

}

#startButton {
    position: relative;
    left: 200px;
    top: 20px;
}

#stopButton {
    position: relative;
    left: 230px;
    top: 20px;
}

.codeSnippet {
    font-family: Courier;
    background-color: lightgrey;
}
button {
    margin: 0px 10px 10px 0px;
}

#simContainer {
    position: relative;
    left: 200px;
    top: 30px;
}

#mapImg {
    height: 480px;
    width: 800px;
}

#resourceChartContainer {
    position: relative;
    top: 40px;
    height: 200px;
    width: 300px;
    border: 2px solid black
}

#mapContainer {
    width: 800px;
    height: 480px;
    position: relative;
}
