.AvatarContainer{
  display: flex;
  flex-direction: left;
  padding-top: 50px;
}

.userImage{
  margin: 25px;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 3px lightgrey;
}

.Description{
  text-align: left;
  padding-left: 50px;
}

.Description p{
  font-size: 18px;
}